.flex {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.flex > div {
    width: 50%;
    background: blue;
    margin-top: 10px;
    height: 50px;
    color: #fff;
    font-size: 24px;
}

.flex > div:nth-child(even) {
    background: red;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: tomato;
}

.menu li {
    display: block;
    padding: 1em;
    color: #fff;
}

.menu li:hover {
    background: cadetblue;
}
